In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('lab-customer-analysis-round-6/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [4]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [7]:
# 1. Train-test split
x=data.drop('Total Claim Amount',axis=1)
y=data['Total Claim Amount']

In [9]:
x=x.drop(columns=['Customer','Effective To Date'])

In [10]:
x_num=x._get_numeric_data()

In [11]:
x_cat=x.drop(columns=x_num.columns)

In [12]:
print(x.shape,x_num.shape,x_cat.shape)

(9134, 21) (9134, 7) (9134, 14)

In [13]:
x_num.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
x_scaled=StandardScaler().fit_transform(x_num)

In [16]:
def normalize(x):
    x_mean=x.mean(axis=0)
    x_std=x.std(axis=0)
    x_std[x_std==0]=1
    x=(x-x_mean)/x_std
    return x

In [17]:
x_num=normalize(x_num)

In [18]:
x_num.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,-0.762836,0.612794,-0.703886,1.678007,-1.543202,-0.422226,-0.822603
1,-0.149237,-1.239549,0.022690,-0.208175,-0.217322,-0.422226,2.106045
2,0.710597,0.365690,0.429572,0.288189,-0.360661,-0.422226,-0.404225
3,-0.052260,-1.239549,0.371446,0.288189,0.606873,-0.422226,1.687666
4,-0.755534,0.203379,-0.587634,-0.307448,-0.145653,-0.422226,-0.822603

In [20]:
(x_num-x_scaled).sum().sum()

7.291721913771365e-12

In [21]:
pd.get_dummies(x_cat,drop_first=True).head()

,State_California,State_Nevada,State_Oregon,State_Washington,Response_Yes,Coverage_Extended,Coverage_Premium,Education_College,Education_Doctor,Education_High School or Below,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [28]:
pd.DataFrame(OneHotEncoder(drop='first').fit_transform(x_cat).toarray(),columns=OneHotEncoder(drop='first').fit(x_cat).get_feature_names(input_features=x_cat.columns)).head()

,State_California,State_Nevada,State_Oregon,State_Washington,Response_Yes,Coverage_Extended,Coverage_Premium,Education_College,Education_Doctor,Education_High School or Below,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [30]:
x_cat=pd.get_dummies(x_cat,drop_first=True)

In [31]:
x=pd.concat([x_num,x_cat],axis=1)

In [32]:
x.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,State_California,State_Nevada,State_Oregon,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,-0.762836,0.612794,-0.703886,1.678007,-1.543202,-0.422226,-0.822603,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,-0.149237,-1.239549,0.022690,-0.208175,-0.217322,-0.422226,2.106045,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0.710597,0.365690,0.429572,0.288189,-0.360661,-0.422226,-0.404225,0,1,0,...,0,0,0,0,0,0,0,1,1,0
3,-0.052260,-1.239549,0.371446,0.288189,0.606873,-0.422226,1.687666,1,0,0,...,0,1,0,0,0,1,0,0,1,0
4,-0.755534,0.203379,-0.587634,-0.307448,-0.145653,-0.422226,-0.822603,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [34]:
from sklearn.model_selection import train_test_split as tts

In [36]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=.2)

In [40]:
import warnings
warnings.simplefilter('ignore')
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [41]:
x_train_wi=sm.add_constant(x_train)

In [42]:
model=sm.OLS(y_train,x_train_wi).fit()

In [43]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     Total Claim Amount   R-squared:                       0.774
Model:                            OLS   Adj. R-squared:                  0.772
Method:                 Least Squares   F-statistic:                     517.5
Date:                Sun, 25 Oct 2020   Prob (F-statistic):               0.00
Time:                        15:40:00   Log-Likelihood:                -46405.
No. Observations:                7307   AIC:                         9.291e+04
Df Residuals:                    7258   BIC:                         9.325e+04
Df Model:                          48
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                            121.9724     15.781      7.729      0.000      91.037     152.908
Customer Lifetime Value           -1.1426      1.783     -0.641      0.522      -4.638       2.353
Income                            -8.3607      2.910     -2.873      0.004     -14.066      -2.655
Monthly Premium Auto             162.9407      8.285     19.666      0.000     146.699     179.182
Months Since Last Claim            3.1108      1.641      1.896      0.058      -0.106       6.328
Months Since Policy Inception      0.5967      1.646      0.362      0.717      -2.630       3.823
Number of Open Complaints         -1.0120      1.632     -0.620      0.535      -4.211       2.187
Number of Policies                 1.2187      1.649      0.739      0.460      -2.014       4.452
State_California                   3.0520      4.694      0.650      0.516      -6.149      12.253
State_Nevada                       2.7421      6.459      0.425      0.671      -9.919      15.403
State_Oregon                      -3.2794      4.857     -0.675      0.500     -12.800       6.241
State_Washington                   5.6150      6.696      0.839      0.402      -7.512      18.742
Response_Yes                     -21.8995      5.189     -4.220      0.000     -32.071     -11.728
Coverage_Extended                 -7.1965      6.159     -1.168      0.243     -19.270       4.877
Coverage_Premium                  11.8267     13.002      0.910      0.363     -13.661      37.314
Education_College                 -5.7057      4.247     -1.343      0.179     -14.031       2.620
Education_Doctor                 -16.6638      9.028     -1.846      0.065     -34.360       1.033
Education_High School or Below    11.7804      4.298      2.741      0.006       3.356      20.205
Education_Master                 -13.8812      6.439     -2.156      0.031     -26.503      -1.259
EmploymentStatus_Employed         -3.5910      8.866     -0.405      0.685     -20.971      13.789
EmploymentStatus_Medical Leave    13.2336     10.846      1.220      0.222      -8.028      34.495
EmploymentStatus_Retired           1.5435     12.578      0.123      0.902     -23.112      26.199
EmploymentStatus_Unemployed       71.2729      8.903      8.006      0.000      53.821      88.725
Gender_M                          15.0647      3.294      4.573      0.000       8.608      21.522
Location Code_Suburban           376.4039      4.801     78.406      0.000     366.993     385.815
Location Code_Urban              218.8973      5.403     40.515      0.000     208.306     229.489
Marital Status_Married            -6.9104      4.843     -1.427      0.154     -16.403       2.583
Marital Status_Single             65.4509      5.567     11.756      0.000      54.537      76.364
Policy Type_Personal Auto          0.5543      6.385      0.087      0.931     -11.962      13.071
Policy Type_Special Auto          12.6515      9.095      1.391      0.164      -5.178      30.481
Policy_Corporate L2               -1.8986     10.427     -0.182      0.856     -22.339      18.542
Policy_Corporate L3               -3.5873      9.611     -0.373      0.709     -22.427      15.253
Policy_Personal L1                 4.6186      4.078      1.133      0.257      -3.375      12.613
Policy_Personal L2                -2.4482      3.513     -0.697      0.486      -9.334       4.437
Policy_Personal L3                -1.6162      3.194     -0.506      0.613      -7.877       4.645
Policy_Special L1                 37.6612     15.730      2.394      0.017       6.826      68.497
Policy_Special L2                -14.5245     11.133     -1.305      0.192     -36.349       7.300
Policy_Special L3                -10.4852     11.391     -0.920      0.357     -32.815      11.845
Renew Offer Type_Offer2           15.8977      4.086      3.890      0.000       7.887      23.908
Renew Offer Type_Offer3            9.1207      4.950      1.842      0.065      -0.583      18.825
Renew Offer Type_Offer4            9.5270      5.749      1.657      0.098      -1.742      20.796
Sales Channel_Branch               1.9317      4.094      0.472      0.637      -6.093       9.956
Sales Channel_Call Center         -0.0979      4.607     -0.021      0.983      -9.128       8.933
Sales Channel_Web                  2.2404      5.079      0.441      0.659      -7.716      12.197
Vehicle Class_Luxury Car          93.1702     34.179      2.726      0.006      26.170     160.170
Vehicle Class_Luxury SUV          60.3648     33.833      1.784      0.074      -5.958     126.687
Vehicle Class_SUV                  4.5291     11.302      0.401      0.689     -17.626      26.684
Vehicle Class_Sports Car          -6.1383     12.981     -0.473      0.636     -31.586      19.309
Vehicle Class_Two-Door Car        -0.9396      4.270     -0.220      0.826      -9.311       7.431
Vehicle Size_Medsize             -10.7404      5.422     -1.981      0.048     -21.369      -0.112
Vehicle Size_Small                -5.7268      6.342     -0.903      0.367     -18.158       6.705
==============================================================================
Omnibus:                     3072.284   Durbin-Watson:                   1.970
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            34923.710
Skew:                           1.698   Prob(JB):                         0.00
Kurtosis:                      13.157   Cond. No.                     1.14e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.72e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [44]:
# 2. Apply linear regression
from sklearn.linear_model import LinearRegression as LinReg

In [45]:
linreg=LinReg()

In [46]:
linreg.fit(x_train,y_train)

LinearRegression()

In [47]:
y_pred_linreg=linreg.predict(x_test)

In [48]:
y_pred_linreg

array([500.91854646,  63.07462431, -10.47281753, ...,  76.70871558,
       225.86787174, 467.12057406])

In [61]:
# R2
print ('train R2: {} -- test R2: {}'.format(linreg.score(x_train, y_train),
                                            linreg.score(x_test, y_test)))

train R2: 0.7738643309258171 -- test R2: 0.7650098665701808

In [51]:
# MSE
from sklearn.metrics import mean_squared_error as mse

In [52]:
train_mse=mse(linreg.predict(x_train),y_train)

In [54]:
test_mse=mse(linreg.predict(x_test),y_test)

In [55]:
print('train MSE: {} -- test MSE: {}'.format(train_mse, test_mse))

train MSE: 19220.540691043723 -- test MSE: 19230.929587429633

In [56]:
# RMSE
print ('train RMSE: {} -- test RMSE: {}'.format(train_mse**.5, test_mse**.5))

train RMSE: 138.6381646266414 -- test RMSE: 138.67562722926345

In [57]:
# MAE
from sklearn.metrics import mean_absolute_error as mae

In [58]:
train_mae=mae(linreg.predict(x_train),y_train)

In [59]:
test_max=mae(linreg.predict(x_test),y_test)

In [60]:
print ('train MAE: {} -- test MAE: {}'.format(train_mse, test_mse))

train MAE: 19220.540691043723 -- test MAE: 19230.929587429633